# Local .terraform directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json

# Terraform plan output
*.plan

# CLI configuration files
.terraformrc
terraform.rc
